@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height:initial;
    }
    .numbers .rect{
        width:5.5rem;
        height:2.8rem;
    }
    .numbers .rect h1{
        font-size:1.5rem;
        text-align: center;
    }
    .section-3{
        height: inherit;
        padding: 7vmin !important;
    }
    .section-3 .row .col-md-6{
        text-align: center !important;
    }
    .section-3 .desktop i{
        font-size: 6vmin;
    }
    .section-3 .desktop{
        margin: 0.3em;
        font-size: 2vmin;
        margin-bottom: 3em;
        margin-top: 2em; 
    }
    .section-3 .desktop h3{
        font-size: 4vmin;
    }
    .section-4 .carousel-item{
        padding-left:0.6rem;
    }
    .section-4 .team{
        display:flex;
        flex-direction: column;
        align-content: center;
        margin-left: -11em;
    }
    .section-4 .carousel-inner{
        width:28rem;
        padding-top: 1em;
    }
    .Art .team{
        display:flex;
        flex-direction: column;
        align-content: center;
        margin-right: -11em;
        margin-bottom: 3em;
    
    }
    .vert .carousel-inner{
        width:24.5rem;
        padding-bottom: 4em;
        margin-left: 2.5em;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.219);
    }
    .hor .carousel-inner{
        width:42rem;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.377);
        margin-left: -7em;
        margin-top: 20px;
    }
    .hor .carousel-inner .card-img-top{
        object-fit: fill;
        border: 2px solid rgb(13, 56, 50);
        width: 70%;
    }
    .vert .carousel-inner .card-img-top{
        object-fit: fill;
        border: 1.5px solid black;
        width: 82%;
    }
}
@media only screen and (max-width:425px)
{
    header .row .col-md-5 img{
        width: 90%;
        padding-right: 3em;
      }
      .vert .carousel-inner{
        width:21.5rem;
        padding-bottom: 4em;
        margin-left: 2.5em;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.219);
    }
    .vert .carousel-inner .card-img-top{
        object-fit: fill;
        border: 1.5px solid black;
        width: 71.7%;
    }
    .hor .carousel-inner{
        width:24.5rem;
        height: 30.7rem;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.377);
        margin-left: 1em;
        margin-top: 20px;
    }
    .hor .carousel-inner .card-img-top{
        object-fit:fill;
        border: 2px solid rgb(13, 56, 50);
        width: 40.8%;
    }
    .section-4 .carousel-inner{
        width:36rem;
        padding-top: 1em;
        align-content: center;
        padding-left: 9rem;
    }
}
@media only screen and (max-width:375px)
{
      .vert .carousel-inner{
        width:21.5rem;
        padding-bottom: 4em;
        margin-left: 1.3em;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.219);
    }
    .vert .carousel-inner .card-img-top{
        object-fit: fill;
        border: 1.5px solid black;
        width: 71.7%;
    }
    .hor .carousel-inner{
        width:22rem;
        height: 30.7rem;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.377);
        margin-left: 1em;
        margin-top: 20px;
    }
    .hor .carousel-inner .card-img-top{
        object-fit:fill;
        border: 2px solid rgb(13, 56, 50);
        width: 36.8%;
    }
    .section-4 .carousel-inner{
        width:36rem;
        padding-top: 1em;
        align-content: center;
        padding-left: 6rem;
    }
}
@media only screen and (max-width:320px)
{
    header .row .col-md-5 img{
        width: 90%;
        padding-right: 2em;
      }
      .vert .carousel-inner{
        width:18.8rem;
        padding-bottom: 4em;
        margin-left: 0.5em;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.219);
    }
    .vert .carousel-inner .card-img-top{
        object-fit: fill;
        border: 1.5px solid black;
        width: 62.7%;
    }
    .hor .carousel-inner{
        width:20rem;
        height: 30.7rem;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.377);
        margin-left: 0.2em;
        margin-top: 20px;
    }
    .hor .carousel-inner .card-img-top{
        object-fit:fill;
        border: 2px solid rgb(13, 56, 50);
        width: 33%;
    }
    .section-4 .carousel-inner{
        width:30rem;
        padding-top: 1em;
        align-content: center;
        padding-left: 8rem;
    }
}
@media only screen and (max-width:362px)
{
      .vert .carousel-inner{
        width:21.9rem;
        padding-bottom: 4em;
        margin-left: 0.2em;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.219);
    }
    .vert .carousel-inner .card-img-top{
        object-fit: fill;
        border: 1.5px solid black;
        width: 73%;
    }
    .hor .carousel-inner{
        width:23rem;
        height: 30.7rem;
        box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.377);
        margin-left: 0.2em;
        margin-top: 20px;
    }
    .hor .carousel-inner .card-img-top{
        object-fit:fill;
        border: 2px solid rgb(13, 56, 50);
        width: 38.4%;
    }
    .section-4 .carousel-inner{
        width:34rem;
        padding-top: 1em;
        align-content: center;
        padding-left: 8.5rem;
    }
}


